@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700');

body {
    font-family: 'Source Sans Pro', sans-serif;
}

p,
i,
span,
b,
ul li {
    font-size: 1rem;
}

#youtube-vid {
    width: 560px;
    height: 315px;
}

#navbar-wundar {
    position: absolute;
    top: 0;
    background-color: transparent;
    width: 100%;
}

.partner-img {
    width: auto;
    height: 100px;
}

.team-img {
    height: 150px;
    width: auto;
    border-radius: 5px;

}

.icon-img {
    width: 1.5rem;
    height: 1.5rem;
}

#top {
    padding: 10vh 0;
    background-image: url('../src/img/bg-img.png');
    background-repeat: no-repeat;
    background-size: 105% 105%;
    min-height: 100vh;
    background-position-y: -5px;
}

ul#nav-links li {
    display: inline;
}


.btn-wundar-blue {
    width: 150px;
    background-color: #29ADFE;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-wundar-blue:hover {
    background-color: #1C93DD;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-wundar-white {
    width: 150px;
    background-color: white;
    color: #29ADFE;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-wundar-white:hover {
    background-color: #29ADFE;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

#footer {
    background-color: #29ADFE;
    color: white;
}

#footer img {
    max-width: 150px;
    padding: 15px;
}

@media screen and (max-width: 576px) {
    #youtube-vid {
        width: 360px !important;
        height: 240px !important;
    }
}